#csvFileInput {
    position: absolute;
    top: 5px;
    left: 40%;
}

#course-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    border-right: 1px solid #44449e;
}

#search-results {
    position: absolute;
    left: 15px;
    top: 20%;
    width: 90%;
    height: 25%;
    border: 1px solid #44449e;
    border-radius: 2px;
    overflow: auto;
}

#course-listing {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 90%;
    height: 25%;
    border: 1px solid #44449e;
    border-radius: 2px;
    overflow: auto;
}

.course-info {
    position: absolute;
    width: 9%;
    font-size: 13px;
    margin: 0.5%;
}

#cnu-logo {
    position: absolute;
    right: 0px;
}